* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
      background-color: lightblue;
      
  }
  .input{
      height: 40px;
      width: 400px;
  }
  .inputP{
      height: 40px;
  }